<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Chefs Union Template</title>

<!--Remy Sharp Shim --> 
<!--[if lte IE 9]> 
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript" >
</script> 
<![endif]-->
    <link href="../final/css/style.css" type="text/css" rel="stylesheet" > 
</head>

<body>
    <header>
    <a href="index.html">  <img id="logo" src="images/logo.jpg" alt="logo.jpg"></a>
    <nav id="mainnav">
        <ul>
            <li><a href="../template/index.html">Home</a>
        </li>
            <li><a href="">About</a>
                  <ul id="drop-list">
                       <li><a href="">Dinning Theme</a></li>
                       <li><a href="">Style</a></li>
                </ul> </li>
            
            <li><a href="">Chefs</a>
                   <ul id="drop-list-1">
                    
                       <li><a href="">Chef Luis</a></li>
                       <li><a href="">Chef Masa</a></li>
                       <li><a href="">Chef Mark</a></li>
                </ul> </li>
            <li><a href="">Cuisines</a>
              <ul id="drop-list-2">
                       <li><a href="">Mexican</a></li>
                       <li><a href="">Japenses</a></li>
                       <li><a href="">American</a></li>
                </ul> </li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    </header>
   
    <div id="wrapper">
    <div id="philosophy">
        <h1 id="headline1">
        <strong>catering</strong> is nothing special</h1>
        <p id="description">---we just cook the right food for the right person</p>
    </div>
    
    <div class="br">
   <ul>
    <li></li>
       <li></li>
       <li></li>    
        </ul>  
    </div>

        
        <main>
     <ul>
         
    <li><h2 id="cook">Pick your Cuisine</h2>
         <p id="howcook">   We are a Unions of chefs who are perusing to cook their idealist dishes. 
Our chefs treat every detail of the food as a part of art.
We make the traditional dishes taste like how they suppose be. 
We invent new fusions to match your taste and feeling.
</p>
        <img id="cutting" src="images/Chef-cutting.jpg" alt="cutting.jpg"> 
         </li>
    <li>
         <h3 id="cook4u">Pick your Cook</h3>
         <p id="cook4u2">
We are capable to serve all kinds of function parties, catering. Pick your Chef, pick or make your menu, pick your location, pick your theme. Chefs and their serving team can cooperate with your dinner planner and organizer. This is a literally customize catering.
</p>
    <img id="server" src="images/server.jpg" alt="server.jpg">
    </li>
         
    <li>
        <h4 id="omakase">Pick you Catering</h4>
        <p id="cn">私人定制</p>
         <p id="jp">お任せ</p>
        <p id="en">Customize</p>
        </li>
         
        </ul>
    </main>
        
    <aside>
        
    </aside>
    </div><!--end banner-->
    <footer>
    
         <ul>
            <li>Copyright 2018 &copy;</li>
            <li>All Rights Reserved</li>
            <li><a href="../index.html">Web design by Long</a></li>

            </ul>

            

          

    </footer>
    <div id="validate">
<ul>
  <li><a href="https://validator.w3.org/check?uri=referer">validate</a>
    </li>
    </ul>
    </div><!--end of validate-->
</body>
</html>