/*stylecss of Chefs Union*/
*{
    padding:0;
   
    box-sizing:border-box;
}

body{

 background: white;

 
            
}

header{
    float:left;   
    margin:0 auto;
    height:173px;
    width:90%;  
  border-bottom: 2px dashed black;
    position: fixed;
    top:0;
    left:5%;
     background:rgba(255,255,255,.9);
}

img#logo{
    
    float:left;  
    margin: 10px auto 0 10%;
    width:15%;
    max-width:200px;
}

#mainnav {  
    float:right;

    width:70%;
    height: 100px;      
    line-height: 100px;
   margin-top: 2%;
}

#mainnav ul{
    
    margin:0 auto;
    overflow: hidden; 
    width:100%;
}   

#mainnav li{
     float:left;
    list-style-type: none;
        width:20%;
    text-align:center;
    font-size: 1.5em;
  
   
}


    #mainnav li a {
        display: block;
        color:black;
        text-decoration: none;
   
       
    }

    #mainnav li a:hover {
        background:rgba(192,192,192,.7);
      

    }

#drop-list{
    display:none;
 
    
}
#mainnav li:hover #drop-list{
    display: block;
   background:rgba(255,255,255,.9);
    
}

#mainnav li:hover #drop-list li{
    float:none;
        width:auto;
    font-size: 1em;
   font-style: oblique;
    border-bottom:1px solid black;
}

#mainnav li:hover #drop-list li a:hover{
  
}
#drop-list-1{
    display:none;
 
    
}
#mainnav li:hover #drop-list-1{
    display: block;
   background:rgba(255,255,255,.9);
    
}

#mainnav li:hover #drop-list-1 li{
    float:none;
        width:auto;
    font-size: 1em;
   font-style: oblique;
    border-bottom:1px solid black;
}

#mainnav li:hover #drop-list-1 li a:hover{
  
}
#drop-list-2{
    display:none;
 
    
}
#mainnav li:hover #drop-list-2{
    display: block;
   background:rgba(255,255,255,.7);
    
}

#mainnav li:hover #drop-list-2 li{
    float:none;
        width:auto;
    font-size: 1em;
   font-style: oblique;
    border-bottom:1px solid black;
}

#mainnav li:hover #drop-list-2 li a:hover{
  
}
div#wrapper{
    
    overflow: hidden;
    background: white; 
    margin: 200px auto 15px auto;
    clear:both;
    width:1000px;

 /*  border-left: 2px dotted black;
    border-right: 2px dotted black;   */
    
}
#philosophy{
    width:100%;
    height:150px;
 

        
}
#headline1{
    float:left;
    margin:0 0 0 10%;
    font-size: 3em;
    font-family: fantasy;
}
#description{
    margin:1% 5% 0 0;
    font-family: Cursive;
    float:right;
    font-size: 2.5em;
}

.br{
   clear:both;
    float:left;
    margin-top:2%;
    margin-left: 1.1%;

    width:98%;
    height:300px;
       background:black;    
}
.br ul{
    width: auto;
    margin:2px auto 2px auto;
}
.br li{
    border: 1px solid white;
    width:90%;
    list-style: none;
    margin-top:.3%;
    
    display: block;
    height:292px;
}

.br li:nth-child(1){
    float:left;
    width:32.2%;
    background-image:url(../images/steak1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:.5%;
    margin-left: .5%;
    
}

.br li:nth-child(2){
    float:left;
    width:33.5%;
     background-image:url(../images/steak2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.br li:nth-child(3){
    float:right;
    width:32.3%;
    margin-right: .5%;
      background-image:url(../images/steak3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
 
}

main{
    float:left;
    overflow: hidden;
    clear:both;
    width:100%;
    margin:50px auto 0 auto;
    height:600px;
}


div#wrapper main li:nth-child(1){
    float:left;
    width:32%;
    height: 600px;
    margin-right:1.5%;
    margin-left: .5%;
    
}

div#wrapper main li:nth-child(2){
    float:left;
    width:32%;

    height: 600px;

  
}

div#wrapper main li:nth-child(3){
    float:right;
    width:32%;
   
    margin-right: .5%;
    height: 600px;

 
}
div#wrapper main li{
    
    width:100%;
    list-style: none;
    display: block;
   height:300px;
    font-size: .85em;
   
}

#cook{
    text-align: center;
    border-bottom: 1px dashed black;
    font-size:38.1px;
    padding:2px;
}
#howcook{
    margin-top:10%;
    font-family:sans-serif;
    font-size:1.3em;
    padding:10%;
}
#cutting{
    margin-left:15%; 
 
    max-width:70%;
}
#cook4u{
    text-align: center;
    border-bottom: 1px dashed black;
    font-size:35px;;
    padding:2px;
}
#cook4u2{
    margin-top:10%;
    font-family:sans-serif;
    font-size:1.3em;
    padding-top:10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
   
}
#server{
       margin-left:15%; 
        margin-top: 18px;
    max-width:70%;
}
#omakase{
        
     text-align: center;
    border-bottom: 1px dashed black;
    font-size:30px;
    padding:2px;
}
#cn{
    margin:20% 10% 10% auto;
    font-size:3em;
}
#jp{
   text-align: center;
       font-size:3em;
}

#en{
    float:right;
    margin-top: 10%;
    margin-right: 10%;
       font-size:3em;
}
footer{
    margin: 0 auto 20px auto;
    clear:both;
    overflow: hidden;
    width:90%;
    
    height:60px;
    line-height: 60px;
    border-top:1px solid black;
   
}
footer ul{
   
    margin-left: 3%;
    overflow: hidden; 
    width:100%;
}
footer li{
    margin:0 auto;
    float:left;
    list-style-type: none;
    width:30%;
    text-align:center;
    font-size: 1.5em;
    
}

#validate{
    overflow: hidden;
    clear:both;
    line-height:50px;
    font-size:20px;
    font-kerning: normal;
   

}
#validate ul{
    
    padding-left: 10px;
    overflow:hidden;
    width:500px;
  
}
      
#validate li{
    text-align: center;
    display: block;
    list-style:none;
    
    float:left;
    width:6em;
      background: green;
}

#validate li a {
    display: block;
    color: midnightblue;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px;
}

#validate li a:hover {
    background-color: gray;
    border: 1px solid white;
    
}

